src/connection/Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://connection" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://connection" xmlns:intf="http://connection" xmlns:tns1="http://entity" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://connection" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://entity"/>
   <element name="unenrollStudent">
    <complexType>
     <sequence>
      <element name="idperson" type="xsd:long"/>
      <element name="idcourse" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="unenrollStudentResponse">
    <complexType>
     <sequence>
      <element name="unenrollStudentReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="enrollStudent">
    <complexType>
     <sequence>
      <element name="idperson" type="xsd:long"/>
      <element name="idcourse" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="enrollStudentResponse">
    <complexType>
     <sequence>
      <element name="enrollStudentReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAdminUname">
    <complexType/>
   </element>
   <element name="getAdminUnameResponse">
    <complexType>
     <sequence>
      <element name="getAdminUnameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewAllCourse">
    <complexType/>
   </element>
   <element name="viewAllCourseResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="viewAllCourseReturn" type="tns1:Course"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns1_Instructor">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:Instructor"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns1_Person">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:Person"/>
    </sequence>
   </complexType>
   <element name="removeReplaceInstructor">
    <complexType>
     <sequence>
      <element name="removeInsructor" type="xsd:long"/>
      <element name="replaceInstructor" type="xsd:long"/>
      <element name="idcourse" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeReplaceInstructorResponse">
    <complexType>
     <sequence>
      <element name="removeReplaceInstructorReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="assignCourseToInstructor">
    <complexType>
     <sequence>
      <element name="idperson" type="xsd:long"/>
      <element name="idcourse" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="assignCourseToInstructorResponse">
    <complexType>
     <sequence>
      <element name="assignCourseToInstructorReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteInstructor">
    <complexType>
     <sequence>
      <element name="idperson" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteInstructorResponse">
    <complexType>
     <sequence>
      <element name="deleteInstructorReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="createInstructor">
    <complexType>
     <sequence>
      <element name="pass" type="xsd:string"/>
      <element name="fname" type="xsd:string"/>
      <element name="lname" type="xsd:string"/>
      <element name="address" type="xsd:string"/>
      <element name="city" type="xsd:string"/>
      <element name="state" type="xsd:string"/>
      <element name="zipcode" type="xsd:string"/>
      <element name="persontype" type="xsd:string"/>
      <element name="department" type="xsd:string"/>
      <element name="officeHr" type="xsd:string"/>
      <element name="location" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createInstructorResponse">
    <complexType>
     <sequence>
      <element name="createInstructorReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="createStudent">
    <complexType>
     <sequence>
      <element name="pass" type="xsd:string"/>
      <element name="fname" type="xsd:string"/>
      <element name="lname" type="xsd:string"/>
      <element name="address" type="xsd:string"/>
      <element name="city" type="xsd:string"/>
      <element name="state" type="xsd:string"/>
      <element name="zipcode" type="xsd:string"/>
      <element name="persontype" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createStudentResponse">
    <complexType>
     <sequence>
      <element name="createStudentReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteStudent">
    <complexType>
     <sequence>
      <element name="idperson" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteStudentResponse">
    <complexType>
     <sequence>
      <element name="deleteStudentReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAdminPass">
    <complexType/>
   </element>
   <element name="getAdminPassResponse">
    <complexType>
     <sequence>
      <element name="getAdminPassReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="personDetail">
    <complexType>
     <sequence>
      <element name="idperson" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="personDetailResponse">
    <complexType>
     <sequence>
      <element name="personDetailReturn" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="updatePerson">
    <complexType>
     <sequence>
      <element name="idperson" type="xsd:long"/>
      <element name="pass" type="xsd:string"/>
      <element name="fname" type="xsd:string"/>
      <element name="lname" type="xsd:string"/>
      <element name="address" type="xsd:string"/>
      <element name="city" type="xsd:string"/>
      <element name="state" type="xsd:string"/>
      <element name="zipcode" type="xsd:string"/>
      <element name="persontype" type="xsd:string"/>
      <element name="department" type="xsd:string"/>
      <element name="officeHr" type="xsd:string"/>
      <element name="location" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updatePersonResponse">
    <complexType>
     <sequence>
      <element name="updatePersonReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="courseDetail">
    <complexType>
     <sequence>
      <element name="idcourse" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="courseDetailResponse">
    <complexType>
     <sequence>
      <element name="courseDetailReturn" type="tns1:Course"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateCourse">
    <complexType>
     <sequence>
      <element name="idcourse" type="xsd:long"/>
      <element name="name" type="xsd:string"/>
      <element name="section" type="xsd:string"/>
      <element name="hours" type="xsd:string"/>
      <element name="loc" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateCourseResponse">
    <complexType>
     <sequence>
      <element name="updateCourseReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteCourse">
    <complexType>
     <sequence>
      <element name="idcourse" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteCourseResponse">
    <complexType>
     <sequence>
      <element name="deleteCourseReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="createCourse">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="section" type="xsd:string"/>
      <element name="hours" type="xsd:string"/>
      <element name="loc" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createCourseResponse">
    <complexType>
     <sequence>
      <element name="createCourseReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchPerson">
    <complexType>
     <sequence>
      <element name="attributeName" type="xsd:string"/>
      <element name="attributeValue" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchPersonResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="searchPersonReturn" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchCourse">
    <complexType>
     <sequence>
      <element name="attributeName" type="xsd:string"/>
      <element name="attributeValue" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchCourseResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="searchCourseReturn" type="tns1:Course"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewAllInstructors">
    <complexType/>
   </element>
   <element name="viewAllInstructorsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="viewAllInstructorsReturn" type="tns1:Instructor"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewAllPerson">
    <complexType/>
   </element>
   <element name="viewAllPersonResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="viewAllPersonReturn" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewAllStudents">
    <complexType/>
   </element>
   <element name="viewAllStudentsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="viewAllStudentsReturn" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://entity" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://connection"/>
   <complexType name="Instructor">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="department" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="location" nillable="true" type="xsd:string"/>
     <element name="offficeHr" nillable="true" type="xsd:string"/>
     <element name="officeHr" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="personId" type="xsd:long"/>
     <element name="personType" nillable="true" type="xsd:string"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="zipCode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Person">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="instructor" nillable="true" type="tns1:Instructor"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="personId" type="xsd:long"/>
     <element name="personType" nillable="true" type="xsd:string"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="zipCode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Course">
    <sequence>
     <element name="courseId" type="xsd:long"/>
     <element name="courseTeachers" nillable="true" type="impl:ArrayOf_tns1_Instructor"/>
     <element name="courseUsers" nillable="true" type="impl:ArrayOf_tns1_Person"/>
     <element name="hours" nillable="true" type="xsd:string"/>
     <element name="location" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="section" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAdminPassRequest">

      <wsdl:part element="impl:getAdminPass" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteCourseRequest">

      <wsdl:part element="impl:deleteCourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="assignCourseToInstructorResponse">

      <wsdl:part element="impl:assignCourseToInstructorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteInstructorRequest">

      <wsdl:part element="impl:deleteInstructor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdminUnameRequest">

      <wsdl:part element="impl:getAdminUname" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="enrollStudentRequest">

      <wsdl:part element="impl:enrollStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeReplaceInstructorResponse">

      <wsdl:part element="impl:removeReplaceInstructorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllCourseResponse">

      <wsdl:part element="impl:viewAllCourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteInstructorResponse">

      <wsdl:part element="impl:deleteInstructorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllStudentsRequest">

      <wsdl:part element="impl:viewAllStudents" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updatePersonRequest">

      <wsdl:part element="impl:updatePerson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createStudentRequest">

      <wsdl:part element="impl:createStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllInstructorsRequest">

      <wsdl:part element="impl:viewAllInstructors" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createCourseResponse">

      <wsdl:part element="impl:createCourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdminUnameResponse">

      <wsdl:part element="impl:getAdminUnameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllStudentsResponse">

      <wsdl:part element="impl:viewAllStudentsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeReplaceInstructorRequest">

      <wsdl:part element="impl:removeReplaceInstructor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllPersonResponse">

      <wsdl:part element="impl:viewAllPersonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchCourseRequest">

      <wsdl:part element="impl:searchCourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createCourseRequest">

      <wsdl:part element="impl:createCourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchPersonRequest">

      <wsdl:part element="impl:searchPerson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updatePersonResponse">

      <wsdl:part element="impl:updatePersonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="assignCourseToInstructorRequest">

      <wsdl:part element="impl:assignCourseToInstructor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteCourseResponse">

      <wsdl:part element="impl:deleteCourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteStudentRequest">

      <wsdl:part element="impl:deleteStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="courseDetailResponse">

      <wsdl:part element="impl:courseDetailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createInstructorRequest">

      <wsdl:part element="impl:createInstructor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="courseDetailRequest">

      <wsdl:part element="impl:courseDetail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createInstructorResponse">

      <wsdl:part element="impl:createInstructorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchCourseResponse">

      <wsdl:part element="impl:searchCourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllPersonRequest">

      <wsdl:part element="impl:viewAllPerson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateCourseResponse">

      <wsdl:part element="impl:updateCourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdminPassResponse">

      <wsdl:part element="impl:getAdminPassResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="unenrollStudentRequest">

      <wsdl:part element="impl:unenrollStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchPersonResponse">

      <wsdl:part element="impl:searchPersonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteStudentResponse">

      <wsdl:part element="impl:deleteStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="personDetailRequest">

      <wsdl:part element="impl:personDetail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="personDetailResponse">

      <wsdl:part element="impl:personDetailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllCourseRequest">

      <wsdl:part element="impl:viewAllCourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewAllInstructorsResponse">

      <wsdl:part element="impl:viewAllInstructorsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="enrollStudentResponse">

      <wsdl:part element="impl:enrollStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateCourseRequest">

      <wsdl:part element="impl:updateCourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createStudentResponse">

      <wsdl:part element="impl:createStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="unenrollStudentResponse">

      <wsdl:part element="impl:unenrollStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Service">

      <wsdl:operation name="unenrollStudent">

         <wsdl:input message="impl:unenrollStudentRequest" name="unenrollStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:unenrollStudentResponse" name="unenrollStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="enrollStudent">

         <wsdl:input message="impl:enrollStudentRequest" name="enrollStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:enrollStudentResponse" name="enrollStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAdminUname">

         <wsdl:input message="impl:getAdminUnameRequest" name="getAdminUnameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAdminUnameResponse" name="getAdminUnameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllCourse">

         <wsdl:input message="impl:viewAllCourseRequest" name="viewAllCourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:viewAllCourseResponse" name="viewAllCourseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeReplaceInstructor">

         <wsdl:input message="impl:removeReplaceInstructorRequest" name="removeReplaceInstructorRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeReplaceInstructorResponse" name="removeReplaceInstructorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="assignCourseToInstructor">

         <wsdl:input message="impl:assignCourseToInstructorRequest" name="assignCourseToInstructorRequest">

       </wsdl:input>

         <wsdl:output message="impl:assignCourseToInstructorResponse" name="assignCourseToInstructorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteInstructor">

         <wsdl:input message="impl:deleteInstructorRequest" name="deleteInstructorRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteInstructorResponse" name="deleteInstructorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createInstructor">

         <wsdl:input message="impl:createInstructorRequest" name="createInstructorRequest">

       </wsdl:input>

         <wsdl:output message="impl:createInstructorResponse" name="createInstructorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createStudent">

         <wsdl:input message="impl:createStudentRequest" name="createStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:createStudentResponse" name="createStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteStudent">

         <wsdl:input message="impl:deleteStudentRequest" name="deleteStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteStudentResponse" name="deleteStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAdminPass">

         <wsdl:input message="impl:getAdminPassRequest" name="getAdminPassRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAdminPassResponse" name="getAdminPassResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="personDetail">

         <wsdl:input message="impl:personDetailRequest" name="personDetailRequest">

       </wsdl:input>

         <wsdl:output message="impl:personDetailResponse" name="personDetailResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updatePerson">

         <wsdl:input message="impl:updatePersonRequest" name="updatePersonRequest">

       </wsdl:input>

         <wsdl:output message="impl:updatePersonResponse" name="updatePersonResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="courseDetail">

         <wsdl:input message="impl:courseDetailRequest" name="courseDetailRequest">

       </wsdl:input>

         <wsdl:output message="impl:courseDetailResponse" name="courseDetailResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateCourse">

         <wsdl:input message="impl:updateCourseRequest" name="updateCourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateCourseResponse" name="updateCourseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteCourse">

         <wsdl:input message="impl:deleteCourseRequest" name="deleteCourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteCourseResponse" name="deleteCourseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createCourse">

         <wsdl:input message="impl:createCourseRequest" name="createCourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:createCourseResponse" name="createCourseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchPerson">

         <wsdl:input message="impl:searchPersonRequest" name="searchPersonRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchPersonResponse" name="searchPersonResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchCourse">

         <wsdl:input message="impl:searchCourseRequest" name="searchCourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchCourseResponse" name="searchCourseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllInstructors">

         <wsdl:input message="impl:viewAllInstructorsRequest" name="viewAllInstructorsRequest">

       </wsdl:input>

         <wsdl:output message="impl:viewAllInstructorsResponse" name="viewAllInstructorsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllPerson">

         <wsdl:input message="impl:viewAllPersonRequest" name="viewAllPersonRequest">

       </wsdl:input>

         <wsdl:output message="impl:viewAllPersonResponse" name="viewAllPersonResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllStudents">

         <wsdl:input message="impl:viewAllStudentsRequest" name="viewAllStudentsRequest">

       </wsdl:input>

         <wsdl:output message="impl:viewAllStudentsResponse" name="viewAllStudentsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceSoapBinding" type="impl:Service">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="unenrollStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="unenrollStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="unenrollStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="enrollStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="enrollStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="enrollStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAdminUname">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAdminUnameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAdminUnameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllCourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewAllCourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewAllCourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeReplaceInstructor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeReplaceInstructorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeReplaceInstructorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="assignCourseToInstructor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="assignCourseToInstructorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="assignCourseToInstructorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteInstructor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteInstructorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteInstructorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createInstructor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createInstructorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createInstructorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAdminPass">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAdminPassRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAdminPassResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="personDetail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="personDetailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="personDetailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updatePerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updatePersonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updatePersonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="courseDetail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="courseDetailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="courseDetailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateCourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateCourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateCourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteCourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteCourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteCourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createCourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createCourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createCourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchPerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchPersonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchPersonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchCourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchCourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchCourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllInstructors">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewAllInstructorsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewAllInstructorsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllPerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewAllPersonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewAllPersonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewAllStudents">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewAllStudentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewAllStudentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceService">

      <wsdl:port binding="impl:ServiceSoapBinding" name="Service">

         <wsdlsoap:address location="http://localhost:8081/UniversityRecordSystem/services/Service"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
